<PageTitle>Gestione Sagre</PageTitle>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var itemMenu in listVoiceMenu)
        {
            if (initForeach != lastForeach -1)
            {
                <li class="breadcrumb-item breadcustom">@itemMenu</li>
            }
            else
            {
                <li class="breadcrumb-item active" aria-current="page">@itemMenu</li>
            }

            initForeach++;
        }
    </ol>
</nav>

@code {
    //Esempio: Home Page;Help;Informazioni
    [Parameter] public string voiceMenu { get; set; } = string.Empty;

    public string[] listVoiceMenu;

    public int initForeach;
    public int lastForeach;

    protected override async Task OnInitializedAsync()
    {
        listVoiceMenu = voiceMenu.Split(';');
        initForeach = 0;
        lastForeach = listVoiceMenu.Count();

        await Task.FromResult(listVoiceMenu);
    }
}